<p id="notice"><%= notice %></p>


<p>
  <strong>First_name:</strong>
  <%= @login.user.First_name %>
</p>

<p>
  <strong>Last_name:</strong>
  <%= @login.user.Last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @login.email %>
</p>


<p>
  <strong>Password:</strong>
  <%= @login.password %>
</p>

<%= link_to 'Edit', edit_login_path(@login) %> |
<%= link_to 'Back', logins_path %>
