<h1>Event I attended</h1>
<% if @events.present? %>
  <table id="events">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Event Date</th>
        <th>Event Time</th>
      </tr>
    </thead>

    <tbody>
    <% if@attended_events != nil %>
      <% @attended_events.each do |ae| %>
        <% @events.each do event %>
          <% if ae.event_id === event.id && event.event_date < Date.today %>
            <tr>
              <td><%= event.title %></td>
              <td><%= event.description %></td>
              <td><%= event.event_date %></td>
              <td><%= event.event_time.strftime("%I:%M%p") %></td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    </tbody>
  </table>
<% end %>

<hr>
<%= link_to 'Back to home', root_path%>

