<p id="notice"><%= notice %></p>
<%# sortable "title" sortable "event_date" sortable "event_time" %>
<h1>Listing Events</h1>
<% if @events.present? %>
<table id="events">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Event Date</th>
      <th>Event Time</th>
      <th>Validity</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.description %></td>
        <td><%= event.event_date %></td>
        <td><%= event.event_time.strftime("%I:%M%p") %></td>
        <td><% if event.validity? %>
                <strong>Valid</strong>
              <% else %>
                <strong>Invalid</strong>
              <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% else %>
  <p>There are no events containing the term(s) <%= params[:filter] %>.</p>
<% end %>
<hr>
<%= link_to 'Back to home', root_path%>
