

<%# -------------------- Created by: Tarika Bedse -------------------- %>


<%= form_for @event, html: { multipart: true } do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>      
    </div>
  <% end %>

<div style="position: relative;
            align: center;
            width  : 900px;
            margin : 0 auto;">


<h2> Hello <%= current_user.person.first_name %> ... Lets Publish New Event !! </h2> 
<hr><br>
  	<%= f.hidden_field :validity, :value => true %>
  	<%= f.hidden_field :person_id, :value => current_user.person.id %>
  
    <div class="field">
    	<strong> <%= f.label "Title:" %> </strong> <%= f.text_field :title , placeholder: "e.g. Free Food Event"%>
    </div>
    <br>
    <div class="field">
    	<strong> <%= f.label "Event Date:" %> </strong> <%= f.date_select :event_date %>
    </div>
    <br>
    <div class="field">
    	<strong> <%= f.label "Event Time:" %> </strong> <%= f.time_select :event_time %>
    </div>
    <br>
    <div class="field">
    	<strong> <%= f.label "Description:" %> </strong> <%= f.text_area :description %>
    </div>
    <br>
    <div class="field">
    	<strong> <%= f.label "Keywords:" %> </strong> <%= f.collection_check_boxes(:keyword_ids, Keyword.all, :id, :tag) %>
    </div>
    <br>
    <div class="field">
    	<strong> <%= f.label "Foods:" %> </strong> <%= f.collection_check_boxes(:food_ids, Food.all, :id, :item) %>
    </div>
    <br>
  	<div class="field">
	    <strong> <%= f.label "Location:" %> </strong> <br>
	    <%= f.fields_for :location do |l| %>
	    <div>
		    <%= l.text_field :department, placeholder: "Department" %>
		    <%= l.text_field :building, placeholder: "Building" %>
		    <%= l.text_field :floor, placeholder: "Floor" %>
		    <%= l.text_field :room, placeholder: "Room" %>
  		</div>
  		<% end %>
    </div>
    <br>

    <div class="field">
    	<strong> <%= f.label "Upload Image (Allowd only jpg, jpeg, gif, png image formats):" %> </strong> <%= f.file_field :image %>
    </div>
	<br>
    <div class="field">
    	<strong> <%= f.label "Link:" %> </strong> <%= f.text_field :link , placeholder: "e.g. http://memphis.edu"%>
    </div>
    <br>

    <div class="actions">
    	<%= f.submit "Publish Event", class: "btn btn-md btn-primary" %>
    </div>

<% end %>

<hr>

</div>