

<%# -------------------- Created by: Tarika Bedse -------------------- %>


<% content_for :head do %>
   <%= stylesheet_link_tag 'dashboard' %>
<% end %>

 <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Foodee</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ><%= link_to 'Home', root_path, class: "active" %></li>
                   <% if user_signed_in? %>
                      <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
                  <% else %>
                      <li><%= link_to "Sign In", new_user_session_path %></li>
                      <li><%= link_to "Sign Up", new_user_registration_path %></li>
                  <% end %>                                        

                  <li >
                  <%= form_tag(search_path, :method => "get", id: "search-form", class: "navbar-form") do %>
                  <%= text_field_tag :search, params[:search], placeholder: "Search Events", class: "form-control" %>
                  <%= submit_tag "Search Events", class: "btn btn-sm btn-primary"%>
                  <% end %></li>

          </ul>

        </div>
      </div>
    </nav>

<%= form_for @event, html: { multipart: true } do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>      
    </div>
  <% end %>

<div style="position: relative;
            align: center;
            width  : 900px;
            margin : 0 auto;">


<h2> Hello <%= current_user.person.first_name %> ... Lets Publish New Event !! </h2> 
<hr><br>
  	<%= f.hidden_field :validity, :value => true %>
  	<%= f.hidden_field :person_id, :value => current_user.person.id %>
  
    <div class="field">
    	<strong> <%= f.label "Title:" %> </strong> <%= f.text_field :title , placeholder: "e.g. Free Food Event"%>
    </div>
    <br>
    <div class="field">
    	<strong> <%= f.label "Event Date:" %> </strong> <%= f.date_select :event_date %>
    </div>
    <br>
    <div class="field">
    	<strong> <%= f.label "Event Time:" %> </strong> <%= f.time_select :event_time %>
    </div>
    <br>
    <div class="field">
    	<strong> <%= f.label "Description:" %> </strong> <%= f.text_area :description %>
    </div>
    <br>
    <div class="field">
    	<strong> <%= f.label "Keywords:" %> </strong> <%= f.collection_check_boxes(:keyword_ids, Keyword.all, :id, :tag) %>
    </div>
    <br>
    <div class="field">
    	<strong> <%= f.label "Foods:" %> </strong> <%= f.collection_check_boxes(:food_ids, Food.all, :id, :item) %>
    </div>
    <br>
  	<div class="field">
	    <strong> <%= f.label "Location:" %> </strong> <br>
	    <%= f.fields_for :location do |l| %>
	    <div>
		    <%= l.text_field :department, placeholder: "Department" %>
		    <%= l.text_field :building, placeholder: "Building" %>
		    <%= l.text_field :floor, placeholder: "Floor" %>
		    <%= l.text_field :room, placeholder: "Room" %>
  		</div>
  		<% end %>
    </div>
    <br>

    <div class="field">
    	<strong> <%= f.label "Upload Image (Allowd only jpg, jpeg, gif, png image formats):" %> </strong> <%= f.file_field :image %>
    </div>
	<br>
    <div class="field">
    	<strong> <%= f.label "Link:" %> </strong> <%= f.text_field :link , placeholder: "e.g. http://memphis.edu"%>
    </div>
    <br>

    <div class="actions">
    	<%= f.submit "Publish Event", class: "btn btn-md btn-primary" %>
    </div>

<% end %>

<hr>

</div>