<%# done by Sambriddhi Mainali -%>
<p id="notice"><%= notice %></p>
<strong><%= @event.person.first_name %> <%= @event.person.last_name %></strong><br>
<% if @user.id == @event.person.user_id && @event.validity %>
<div style = "float:right"> 
<%= link_to 'Edit', edit_event_path(@event) %>
</div>
<% end %>

<%# show attend %>
<% if @attended_event != nil %>
  <% # @attended_events.each do |ae| %>
    <% if @attended_event.event_id == @event.id %>
      <div style = "float:left"> 
        <h2>attended</h2>
      </div>
    <% end %>
  <% # end %>
<% else %>
  <% if @event.validity %>
    <div style = "float:left">
      <%= button_to "attend", :controller => "attended_events", :method => "attend", :event_id => @event.id, :user_id => @person.user_id %>
    </div>
  <% end %>
<% end %>

<% if !@event.validity %>
  <strong>Invalid!!!</strong>
<% end %>

<%# if @attended_event %>
  <!--<strong>Attend</strong>-->
<%# end %>
<hr>
<div style="position: relative;
            align: center;
            width  : 900px;
            margin : 0 auto;">
<p>
  <hr>
  <h1><%= @event.title %> </h1>
  <hr>
</p>

 <p>
  <strong><%= @event.description %></strong>
 </p>

<p>
  <strong>Happening on: </strong>
  <%= @event.event_date %>
</p>

<p>
  <strong>Time: </strong>
  <%= @event.event_time.strftime("%I:%M%p")  %>
</p>

<p>
  <% if @event.image? %>
  <strong>Image:</strong>
  <img src="<%= @event.image %>" style="width:304px;height:228px;">
  <% end %>
  </p>
<% if @event.link? %>
  <p>
    <strong>Link:</strong>
    <%= @event.link %>
  </p>
<% end %>

<p>
  <strong>Foods for you: </strong>
  <% @event.foods.each do |food| %>
    <%= food.item %>
  <% end%>
</p>
<p> 
  <strong>Happening at: </strong> 
  <%= @event.location.department %>,
  <%= @event.location.building %>,
  <%= @event.location.floor %>
  <% if @event.location.room%>, 
  <%= @event.location.room %>
  <% end %>
</p>
<p>
  <strong>Keywords: </strong>
  <% @event.keywords.each do |keyword| %>
    <%= keyword.tag %>
  <% end%>
</p>
<p>

 <strong>Comments: </strong>
  <% @event.comments.each do |comment| %>
   <p> Comment:
    <%= comment.comment %>
    <br>
    Score:
    <%= comment.score %>
</p>
  <% end%>
</p>


<% if @attended_event.event_id == @event.id %>
<%= form_for (@comment)  do |f| %>
    
  <div class="field">
    <%= f.text_area :comment, placeholder: "Add your comments here!!!", :cols => "90", :rows => "5"%>
  </div>
  <div class="field">
    <%=f.label "Score please!!!" %> <%= f.number_field :score, min: 1, max: 10 %>
  </div>
  <div class="actions">
    <%= f.submit%>
  </div>
<% end %>
<% end %>

</div>
<div style = "float:right">
  <%= link_to 'Back', root_path%>
</div>