<%# done by Sambriddhi Mainali -%>
<p id="notice"><%= notice %></p>
<strong><%#%= @person.first_name %> <%#%= @person.last_name %></strong>
<%= link_to 'Edit', edit_event_path(@event) %>
<%= link_to 'Log out', events_path %>

<% if !@event.validity %>
  <strong>Invalid!!!</strong>
<% end %>

<% if @attended_event != nil  %>
  <strong>Attend</strong>
<% end %>
<p>
  <strong>Event Name :</strong>
  <%= @event.title %>
</p>

<%# <p>
  <strong>Description:</strong>
  <%= @event.description %>
<%# </p> -%>

<p>
  <strong>Date: </strong>
  <%= @event.event_date %>
</p>

<p>
  <strong>Time: </strong>
  <%= @event.event_time %>
</p>

<p>
  <strong>Image:</strong>
  <%= @event.image %>
  </p>

<p>
  <strong>Link:</strong>
  <%= @event.link %>
</p>

<p>
  <strong>Food Type: </strong>
  <% @event.foods.each do |food| %>
    <%= food.item %>
  <% end%>
</p>
<p> 
  <strong>Location: </strong> 
  <%= @event.location.department %>,
  <%= @event.location.building %>,
  <%= @event.location.floor %>
  <% if @event.location.room%>, 
  <%= @event.location.room %>
  <% end %>
</p>
<p>
  <strong>Keywords: </strong>
  <% @event.keywords.each do |keyword| %>
    <%= keyword.tag %>
  <% end%>
</p>
<p>

 <strong>Foods: </strong>
  <% @event.foods.each do |food| %>
    <%= food.item %>
  <% end%>
  </p>
<p>

 <strong>Comments: </strong>
  <% @event.comments.each do |comment| %>
   <p> Comment:
    <%= comment.comment %>
    <br>
    Score:
    <%= comment.score %>
</p>
  <% end%>

</p>


<!-- <div class="actions">
Qiong: was trying to add attend function
        Then realize there is a re-direct loop
        need to be fixed
-->

<%= link_to 'Back', root_path%>
