<p id="notice"><%= notice %></p>

<h1>Listing Attended Events</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attended_events.each do |attended_event| %>
      <tr>
        <td><%= attended_event.user_id %></td>
        <td><%= attended_event.event_id %></td>
        <td><%= link_to 'Show', attended_event %></td>
        <td><%= link_to 'Edit', edit_attended_event_path(attended_event) %></td>
        <td><%= link_to 'Destroy', attended_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attended event', new_attended_event_path %>

